---
layout: default
---
<article class="post">
	{% include post-heading.html post=page post_page=true %}
	<div class="image">
		<img src="{{ page.featured_image }}" alt="{{ page.title }}">
	</div>

	<div class="recipe-body">
		{{ content }}
	</div>

	{% comment %}
	<ul id="recipe" class="recipe-overview">
		<li title="Servings"><i class="fa-solid fa-weight-hanging"></i>{% include recipe-icon.html icon="quantity" %}<span>{{ page.recipe.servings }}</span></li>
		<li title="Prep Time"><i class="fa-solid fa-clock"></i>{% include recipe-icon.html icon="time" %}<span>{{ page.recipe.prep }}</span></li>
		<li title="Cook Time"><i class="fa-solid fa-temperature-three-quarters"></i>{% include recipe-icon.html icon="cook" %}<span>{{ page.recipe.cook }}</span></li>
	</ul>

	<div class="recipe-contents">
		<div class="ingredients">
			<h2>Flavor</h2>
			{{ page.recipe.ingredients_markdown | markdownify }}
		</div>

		<div class="directions">
			<h2>Notes</h2>
			{{ page.recipe.directions_markdown | markdownify }}
		</div>
	</div>
	{% endcomment %}
</article>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.imgPin.min.js"></script>
<script>
	$(function() {
		$('.post img').imgPin();

		$('a[href*=\\#]').on('click', function(event){
			var el = $(this.hash);
			if (el.length > 0) {
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top - 50}, 500);
			}
		});
	});
</script>
